.WeatherApp {
  text-align: center;
  background: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  color: #fff;
  font-weight: 100;
  padding: 20px;
  margin: 30px auto;
  max-width: 800px;
  border-radius: 5px;
}

.WeatherApp h1 {
  font-weight: 100;
}

.WeatherApp h2 {
  font-weight: 100;
  font-size: 70px;
}

.WeatherApp .units {
  font-size: 20px;
  position: relative;
  top: -35px;
  left: -10px;
}

.WeatherApp p {
  margin: 0 auto;
}

.WeatherApp .wind {
  margin-bottom: 100px;
}
